
.App-body {
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}

.main {
  min-height: 84vh;
  height: 100%;
}

.footer  {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding-bottom: 30px;
  background-color: rgb(237, 237, 237);

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
