

@media only screen and (min-width: 0px) and (max-width:576px){

    .intro {
      margin-top: 20px;
    }
    .feature-list-container {
      max-width: 576px;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px 0px;
    }
    .single-card-container {
      width: 100%;
      height: 200px;
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 2% 10px;
      background-color: white;
    }
  
    .font-awesome {
      font-size: 48px;
      margin: 10px 0px;
    }
  
    .single-card-container h5{
      margin: 20px 0px;
    }
  
    .single-card-container p {
      margin: 0px 50px;
      font-size: .9rem;
    }
  }
  
  @media only screen and (min-width: 577px) and (max-width: 767px) {
    .intro {
      margin-top: 20px;
    }
  
    .feature-list-container {
      max-width: 991px;
      display:flex;
      justify-content: center;
      flex-flow: row wrap;
    }
  
    .single-card-container {
      width: 45%;
      height: 200px;
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 2% 10px;
      background-color: white;
    }
  
    .font-awesome {
      font-size: 2.75rem;
      margin: 0px;
    }
  
  
    .single-card-container p {
      margin: 0px 30px;
      font-size: .9rem;
      line-height: 1.25;
    }
  }
  @media only screen and (min-width: 768px) {
    .intro {
      margin: 40px;
    }
  
    .feature-list-container {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 40px 0px;
    }
  
    .single-card-container {
      width: 30%;
      margin: 5px;
      height: 300px;
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: white;
    }
  
    .font-awesome {
      font-size: 3.0rem;
    }
  
    .single-card-container p {
      width: 40%;
      font-size: .9rem;
    }
  }