.col-sm-4,
.col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
}
.nopadding > div[class^='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.card-img {
  display: block;
  margin: auto 0;
  height: 38vh;
  width: 50%;
  margin-bottom: 1rem;
}

.movie-title {
  position: absolute;
  bottom: 22px;
  left: 0px;
  color: white;
  size: 10px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  width: 100%;
  height: 2rem;
  padding-top: 0.2rem;
}

.popular-title {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

.title-text {
  background-color: rgba(50,50,50,0.7);
  padding: 0;
  font-size: 14px;
  font-weight: 700;
}

