.col-sm-4,
.col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
}
.nopadding > div[class^='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.card-img {
  height: 35vh;
  width: auto;
  margin-bottom: 1rem;
  background-color: rgba(0,0,0,0.4)
}

.movie-title {
  position: absolute;
  bottom: 1px;
  left: 0px;
  color: white;
  size: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  width: 100%;
}

.popular-title {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

.title-text {
  background-color: rgba(0,0,0,);
  padding: 0 .3rem;
}
