.col-sm-4 .pt-0 .mt-3 {
  font-weight: bold;
  margin-top: 5px !important;
}

.my-4 button a {
  width: 90px;
  color: rgb(237, 237, 233);
}

.my-4 button a:hover {
  width: 90px;
  color: rgb(70, 78, 125);
  text-decoration: none;
}

@media (min-width: 0px) {
  .edit-delete-btns {
    width: 48%;
  }
}

.first-delete-btn {
  background-color: #760d17 !important;
  color: white;
  border-width: 0;
  border-style: none;
  font: Roboto;
  font-weight: 400;
}

.goFlex {
  display: flex;
  margin-left: 0rem;
}

.space {
  margin-left: 20px;
}

.col-md-8 .textbody {
  margin-top: 10px;
}

.movieTitle {
  font-weight: bolder;
}

#noMarginL {
  margin-left: 0rem !important;
}

.errorM {
  color: red;
  margin-right: 2rem;
}
