.col-sm-4 .pt-0 .mt-3 {
  font-weight: bold;
  margin-top: 5px !important;
}

.edit-delete-btns {
  width: 90px;
}
@media (min-width: 0px) {
  .edit-delete-btns {
    width: 48%;
  }
}
@media (min-width: 576px) {
  .edit-delete-btns {
    width: 48%;
  }
}
@media (min-width: 768px) {
  .edit-delete-btns {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .edit-delete-btns {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .edit-delete-btns {
    width: 48%;
  }
}
.first-delete-btn {
  background-color: #760d17 !important;
  color: white;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
  font: Roboto;
  font-weight: 400;
  padding: 0.583rem;
}

.goFlex {
  display: flex;
}
@media (min-width: 992px) {
  .goFlex {
    margin-left: 0rem;
  }
}

.space {
  margin-top: 1.8rem !important;
  margin-left: 20px;
}

.col-sm-8 .textbody {
  margin-top: 10px;
}
