.col-sm-4 .pt-0 .mt-3 {
  font-weight: bold;
  margin-top: 5px !important;
}

.edit-delete-btns {
  width: 90px;
}
@media (min-width: 0px) {
  .edit-delete-btns {
    width: 48%;
  }
}

.first-delete-btn {
  background-color: #760d17 !important;
  color: white;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
  font: Roboto;
  font-weight: 400;
  padding: 0.583rem;
}

.goFlex {
  display: flex;
  margin-left: 0rem;
}

.space {
  margin-top: 5px;
  margin-left: 20px;
}

.col-md-8 .textbody {
  margin-top: 10px;
}
.movieTitle {
  font-weight: bolder;
}
@media (max-width: 991px) {
  #noMarginL {
    margin-left: 0rem;
  }
}
.errorM {
  color: red;
  margin-right: 2rem;
}
