.ratingStar {
  display: flex;
}

.movieRevWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bodyRev {
  text-align: left;
}

#submit {
  color: #464e7d;
  border-color: #464e7d;
  background: white;
}
#submit:hover {
  color: white;
  background: #464e7d;
}

#trailer:hover {
  color: #464e7d;
  background: white;
  border-color: #464e7d;
}
#trailer {
  color: white;
  background: #464e7d;
  border: 1px solid #464e7d;
}

@media (max-width: 991px) {
  #noMarginLeft {
    margin-left: 0rem;
  }
}
.bold {
  font-weight: bolder;
}
/* .bold .movieInfo {
  font-size: 0.1rem;
} */
.movieInfo {
  color: #464e7d;
}
