.movie-profile-avatar {
  border-radius: 50%;
  height: 70px;
}

.dv-star-rating-non-editable {
  font-size: 1.5rem;
}

.goFlex {
  display: flex;
}

.space {
  margin-top: 8px;
  margin-left: 20px;
  font-size: 0.8rem;
}

.card-text {
  line-height: 1.5rem;
}
