.footer  {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: rgb(237, 237, 237);

}

.footer-text {
    margin: 10px 0px 0px 0px;
}

.footer-link {
    color:  #01d277;
}

.footer-nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.footer-nav a {
    font-weight: bold;
}