

.footer-text {
    margin: 10px 0px 0px 0px;
}

.footer-link {
    color:  #01d277;
}

.footer-nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.footer-nav a {
    font-weight: bold;
}