/* .input-and-button {
    display: flex;
    margin: 5px;
}


.button-nav {
    padding: 15px;
    height: 4vh;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 0px 20px 0px 0px;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    background-color: royalblue;
    background-blend-mode: color;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-input {
  height: 4vh;
  padding-left: 10px;
  border-radius: 5px 0px 0px 5px;
  width: 200px;
  background-color: whitesmoke;
}

.avatar{
  height: 40px;
  border-radius: 50%;
  margin: 5px 30px 0px 30px;
} */

@media only screen and (min-width: 576px) {
  nav div {
    position: absolute;
    right: 0;
    width: 40%;
  }

  nav div form {
    margin-right: 30px;
    width: 70% !important;
  }

  nav div form .form-control {
    margin-right: 0 !important;
    padding: 10px;
    width: 75% !important;
    border-radius: 20px 0px 0px 20px !important;
  }
  nav div form button {
    margin: 0;
    padding: 20px;
    width: 25%;
    border-radius: 0px 20px 20px 0px !important;
  }

  nav div ul {

    width: 100%;
  }
}

.avatar{
  height: 40px;
  border-radius: 50%;
  margin: 5px 30px 0px 30px;
}