@media only screen and (min-width:0px) and (max-width: 991px){
  .navbar-nav {
    margin: 0 !important;
  }

  nav div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .form-inline {
    margin-top: 50px;
    width: 100%;
    display:flex;
    justify-content: center;
  }

  nav div div .form-control {
    border-radius: 20px 0px 0px 20px;
    width: 60%;
  }
  nav div div button {
    margin: 0;
    padding: 20px;
    width: 20%;
    background-color: #464e7d !important;
    color: white !important;
    border-top: 1px solid #ced4da !important;
    border-right: 1px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
    border-left: none !important;
    border-radius: 0px 20px 20px 0px !important;
  }




}
@media only screen and (min-width:992px) {
  nav div {
    position: absolute;
    right: 0;
    width: 70%;
  }

  nav div div {
    width: 100%;
  }

  nav div div .form-control {
    margin-right: 0;
    margin-left: 20px;
    padding: 10px;
    width: 30% !important;
    border-radius: 20px 0px 0px 20px 
  }
  nav div div button {
    margin: 0;
    padding: 20px;
    width: 10%;
    background-color: #464e7d !important;
    color: white !important;
    border-top: 1px solid #ced4da !important;
    border-right: 1px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
    border-left: none !important;
    border-radius: 0px 20px 20px 0px !important;
  }

  nav div ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

#login {
  display:flex;
}
.avatar-link {
  display: flex;
  margin-right: 20px;
  margin-left: -25px;
}
.avatar-link p {
  margin-top: 10px;
  margin-left: -25px;
  align-items: center;
  font-weight: bolder;
}
.avatar{
  height: 40px;
  border-radius: 50%;
  margin: 5px 30px 0px 30px;
}

.navbar-nav {
  display: flex;
}

.collapse {
  width: 90%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
